{% extends '::main.html.twig' %}
{% block body %}
<div class="text-center">
   Formulaire test <br/>
   {{ form(form) }}
{% if name is not null %}
valeur formulaire :<br/>
name: <b>{{ name }}</b><br>
email: <b>{{ email }}</b><br>
objet: <b>{{ objet }}</b><br>

{% endif %}
</div>

{% endblock %}

